nav {
  background: #6c717a45;
  padding: 20px 0 !important;
}

.navbar {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;

  &__item {
    margin-left: 15px;
    &.cta {
      border-radius: 30px;
      border: 1px solid #167ce9;
      background: #167ce9;
    }
    &.active {
      color: #167ce9 !important;
    }
  }
}

.user {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 5px;

  &__name {
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  &__links {
    position: absolute;
    top: 100%; // Hiển thị ngay bên dưới tên
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    padding: auto;
    z-index: 1000;
  }
  &__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f5f5f5;
      color: #007bff;
    }
  }
}
